// TODO
.banner{
  width: 100vw;
  margin: 0 auto;

  img{
    width: 100%;
  }
}

.title{

  h1{
    margin: 4rem 0 2rem;
    letter-spacing: -0.5px;
    color: var(--heading);
    font-size: 3rem;
    line-height: 58px;
  }
}

.content{


  h2{
    margin: 4rem auto 3rem;
    font-weight:700;
    font-size:2.4rem;
    line-height: 50.4px;
    color: var(--heading);
  }

  p{
    font-weight:400;
    font-size:1.2rem;
    line-height: 25.2px;
    color: var(--info);
    text-align: justify;
  }
}
